<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Rasim.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <Rasim.My.MySettings>
            <setting name="ConStr" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn1_isim" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn1_yol" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn2_isim" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn2_yol" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn3_isim" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn4_yol" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn1_yazici" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn2_yazici" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn3_yazici" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn4_yazici" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn3_yol" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn4_isim" serializeAs="String">
                <value />
            </setting>
            <setting name="StokKodu" serializeAs="String">
                <value />
            </setting>
            <setting name="Barkod" serializeAs="String">
                <value />
            </setting>
            <setting name="isim" serializeAs="String">
                <value />
            </setting>
            <setting name="Kisim" serializeAs="String">
                <value />
            </setting>
            <setting name="Fiyat" serializeAs="String">
                <value />
            </setting>
            <setting name="Doviz" serializeAs="String">
                <value />
            </setting>
            <setting name="Birim" serializeAs="String">
                <value />
            </setting>
            <setting name="BTarihi" serializeAs="String">
                <value />
            </setting>
            <setting name="FTarihi" serializeAs="String">
                <value />
            </setting>
            <setting name="MUrun" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn5_yol" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn5_yazici" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn5_isim" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn6_yol" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn6_yazici" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn6_isim" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn7_yol" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn7_yazici" serializeAs="String">
                <value />
            </setting>
            <setting name="Dizayn7_isim" serializeAs="String">
                <value />
            </setting>
            <setting name="LastState_Client" serializeAs="String">
                <value />
            </setting>
        </Rasim.My.MySettings>
    </userSettings>
</configuration>
